@page "/login"
@using System.ComponentModel.DataAnnotations;
@inject HttpClient Http

<PageTitle>Login</PageTitle>
<Form Model="@model" OnSubmit="@HandleSubmit">
    <Text Label="Uživatelské jméno" id="Username" Disabled="false" @bind-Value="model.Username" />
    <Password Label="Heslo" Disabled="false" @bind-Value="model.Password"></Password>
    <Button type="submit">Přihlásit se</Button>
</Form>

@code {
    private LoginModel model = new();
    private Guid Session = Guid.Empty;

    private async void HandleSubmit()
    {
        var route = $"Auth/Login/{model.Username}/{model.Password}";
        Session = await Http.GetFromJsonAsync<Guid>(route);
    }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    public class LoginModel 
    {
        [Required(ErrorMessage = "Uživatelské jméno nemůže být prázdné")]
        public string? Username { get; set; }
        [Required(ErrorMessage = "Heslo nemůže být prázdné")]
        public string? Password { get; set; }
    }
}
